@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
  --neutral-100: #f5f5f7;
  --neutral-000: #1b1b1b;

  --accent-500: #00033b;
  --accent-400: #ffcd05;
  --accent-100: #ff3d47;

  --ff-base:'Poppins', sans-serif;
  --ff-heading:'Permanent Marker', cursive;

  --fw-normal:400;
  --fw-bold:600;
  --fw-black:700;
}
