#testimonials {
  min-height: max-content;
  background-color: rgba(255, 205, 5, 0.514);
  display: grid;
  grid-template-rows: max-content 1fr;
  row-gap: 2em;
  h2 {
    font-size: 0.8em;
  }
  ul {
    display: flex;
    column-gap: 1em;
    li {
      display: grid;
      grid-template-rows: max-content 1fr;
      gap: 0.2em;
      background-color: white;
      padding: 0.5em;
      border-radius: 0.5em;
      box-shadow: 0px 10px 10px 0px #1b1b1b24;
      .profile {
        border-radius: 0.5em;
        padding: 0.7em 0 0 0;
        display: grid;
        justify-items: center;
        text-align: center;
        position: relative;

        img {
          height: 2.5em;
          aspect-ratio: 1/1;
          border-radius: 50%;
          position: absolute;
          top: -2em;
          border: 5px solid white;
        }
        .testimonial-name,
        .verfied {
          font-size: 0.5em;
          align-self: end;
        }
        .verfied {
          font-weight: var(--fw-bold);
          color: var(--accent-100);
          align-self: start;
        }
      }
      blockquote {
        padding: 0.3em;
        color: var(--accent-500);
        font-size: 45%;
        font-weight: var(--fw-bold);
      }
    }
  }
}
@media screen and (max-width: 800px) {
  ul {
    flex-direction: column;
    row-gap: 3em;
  }
}
